<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Social.Network</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 layout-style">
			<div class="container-fluid">
				<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Social.NetWork</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						@if (Context.Session.GetInt32("LogueadoId") != null)
						{
							@if (Context.Session.GetString("LogueadoRol").Equals("Miembro"))
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Publicacion" asp-action="Index">Ver Posts</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Publicacion" asp-action="CrearPost">Crear Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Publicacion" asp-action="Buscar">Buscar Publicaciones</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Invitacion" asp-action="VerSolicitudes">Ver Solicitudes de amistad</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Invitacion" asp-action="Index">Enviar solicitud</a>
								</li>
							}
							else if (Context.Session.GetString("LogueadoRol").Equals("Administrador"))
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Publicacion" asp-action="Index">Ver Posts</a>
								</li>

								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="ListarMiembros">Ver Miembros</a>
								</li>
							}

							<li class="nav-item">
								<a class="nav-link text-light justify-content-end" asp-area="" asp-controller="Usuario" asp-action="Logout">Logout</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Registro">Registrarse</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
							</li>
						}
					</ul>
					@if (Context.Session.GetInt32("LogueadoId") != null)
					{
						@if (Context.Session.GetString("LogueadoRol") == "Miembro")
						{
							<span class="text-end">Bienvenido/a <a asp-action="Details" asp-controller="Usuario">@Context.Session.GetString("LogueadoNombre") @Context.Session.GetString("LogueadoApellido")</a></span>
						}
						else
						{
							<span>Bienvenido/a Admin</span>
						}
					}
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer layout-style text-center">
		<a href="https://www.linkedin.com/in/santiago-sica/" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
		<span class="m-3">Santiago Sica &copy; 2023</span>
		<a href="https://github.com/santisica29" target="_blank"><i class="fa-brands fa-github"></i></a>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
	.layout-style {
		background-color: #1449b3;
		color: white;
	}

		.layout-style a {
			color: white;
			transition: all 0.2s ease;
			text-decoration: none;
		}

			.layout-style a:hover {
				color: #d2d0d0 !important;
			}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='whitesmoke' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
	}


	.navbar-toggler:focus {
		box-shadow: none;
	}

	.fa-linkedin, .fa-github {
		font-size: 1.1rem !important;
		vertical-align: middle;
	}

</style>

